.page-wrapper {
  z-index: 1;
}

.gap-3x {
  gap: 1rem;
}

.gap-4x {
  gap: 1.5rem;
}

.gap-5x {
  gap: 2rem;
}

.global-container {
  max-width: 1296px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

#section-hero .hero-wrapper {
  padding-top: 7rem;
  padding-bottom: 5rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (min-width: 992px) {
  #section-hero .hero-wrapper {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}

.btn-pill {
  border-radius: 50px;
}

@media (min-width: 992px) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}
